%a#top
%div.container-fluid
  %div.row-fluid
    %div.col-md-2
    %div.col-md-8.page-header
      %div.container-fluid.header-container
        %h3.main-header
          Menu
    %div.col-md-2

%br

= render :partial => "menu_nav"

%br

= render :partial => "menu_bakery"

%br
%br

= render :partial => "menu_breakfast"

%br
%br

= render :partial => "menu_lunch"

%br
%br

= render :partial => "menu_beverages"

